<a href="https://colab.research.google.com/github/aneladavis/Fun_Recommender_System/blob/main/NBAplayerrecommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Import and Exploration

In [ ]:
import pandas as pd

#read in the player file

df_p = pd.read_csv('all_seasons.csv',error_bad_lines=False, low_memory=False, encoding='latin-1',sep=',')

# function used from Natassha Selvaraj tutorial (just changed name)
def lower_entry(entry):
  result = str(entry).lower()
  return(result)

df_p['player_name'] = df_p['player_name'].apply(lower_entry)

df_p.set_index('player_name', inplace=True)
df_p.head()

<ipython-input-135-df46ea465ff3>:5: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_p = pd.read_csv('all_seasons.csv',error_bad_lines=False, low_memory=False, encoding='latin-1',sep=',')

,Unnamed: 0,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
player_name,,,,,,,,,,,,,,,,,,,,,
dennis rodman,0,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,27,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
dwayne schintzius,1,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,24,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
earl cureton,2,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,58,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
ed o'bannon,3,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,9,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
ed pinckney,4,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,10,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [ ]:
#import college team data
df_s = pd.read_csv('cbb21.csv',error_bad_lines=False, low_memory=False, encoding='latin-1',sep=',')
df_s.head()

<ipython-input-136-591219474675>:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_s = pd.read_csv('cbb21.csv',error_bad_lines=False, low_memory=False, encoding='latin-1',sep=',')

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,SEED
0,Michigan,B10,24,20,118.1,91.1,0.9521,54.9,44.9,16.3,...,24.8,28.9,24.5,53.3,42.3,38.7,33.5,66.9,7.2,1.0
1,Baylor,B12,24,22,123.2,94.5,0.9548,57.5,49.1,17.6,...,30.9,27.0,31.7,54.1,48.1,41.8,34.0,68.8,6.6,1.0
2,Illinois,B10,29,23,117.7,90.4,0.9539,55.6,46.6,18.2,...,22.2,39.2,30.5,55.3,45.4,37.6,32.7,70.7,8.9,1.0
3,Gonzaga,WCC,26,26,125.4,89.8,0.9791,61.0,47.5,16.1,...,23.4,36.7,25.9,64.0,46.8,36.5,32.5,74.6,8.5,1.0
4,Iowa,B10,29,21,123.5,95.7,0.9491,54.6,48.3,13.3,...,28.6,32.0,22.6,52.4,45.8,38.6,34.8,70.0,5.6,2.0

# Cleaning and Condensing

In [ ]:
#remove random column
df_p = df_p.drop(['Unnamed: 0', 'team_abbreviation', 'player_height', 'player_weight', 'country', 'draft_year', 'pts', 'reb', 'ast', 'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'], axis=1)

df_p['college'] = df_p['college'].apply(lower_entry)
df_s['TEAM'] = df_s['TEAM'].apply(lower_entry)
df_p.head()

,age,college,draft_round,draft_number,gp,net_rating
player_name,,,,,,
dennis rodman,36.0,southeastern oklahoma state,2,27,55,16.1
dwayne schintzius,28.0,florida,1,24,15,12.3
earl cureton,39.0,detroit mercy,3,58,9,-2.1
ed o'bannon,24.0,ucla,1,9,64,-8.7
ed pinckney,34.0,villanova,1,10,27,-11.2

In [ ]:
def remove_words(entry):
  input = str(entry)
  if (input.isnumeric()):
    return entry
  else:
    return -1


#remove undrafted from draft round/number column
df_p['draft_round'] = df_p['draft_round'].apply(remove_words)
df_p['draft_number'] = df_p['draft_number'].apply(remove_words)

In [ ]:

word = "Undrafted"
if word.isnumeric:
  print(word)

Undrafted

In [ ]:
#check format
df_p.head()
# df_s.info()?\

,age,college,draft_round,draft_number,gp,net_rating
player_name,,,,,,
dennis rodman,36.0,southeastern oklahoma state,2,27,55,16.1
dwayne schintzius,28.0,florida,1,24,15,12.3
earl cureton,39.0,detroit mercy,3,58,9,-2.1
ed o'bannon,24.0,ucla,1,9,64,-8.7
ed pinckney,34.0,villanova,1,10,27,-11.2

In [ ]:
# add school column to CSV file

empty_col = pd.DataFrame(['']*len(df_p))
df_p.insert(len(list(df_p.columns)), 'c_rank', empty_col)

In [ ]:
def insert_barthag(entry):
  input = str(entry)
  # print(input)
  if input in list(df_s['TEAM']):
    x = list(df_s['TEAM']).index(input)
    return df_s['BARTHAG'][x]
  else:
    return -1

In [ ]:
player_name= 'kevin durant'
player_name= player_name.lower()
print(player_name)
df_p.head()

kevin durant

,age,college,draft_round,draft_number,gp,net_rating,c_rank
player_name,,,,,,,
dennis rodman,36.0,southeastern oklahoma state,2,27,55,16.1,NaN
dwayne schintzius,28.0,florida,1,24,15,12.3,NaN
earl cureton,39.0,detroit mercy,3,58,9,-2.1,NaN
ed o'bannon,24.0,ucla,1,9,64,-8.7,NaN
ed pinckney,34.0,villanova,1,10,27,-11.2,NaN

In [ ]:
df_p['c_rank'] = df_p['college'].apply(insert_barthag)

df_p = df_p.drop('college', axis=1)

In [ ]:
df_p['c_rank']

player_name
dennis rodman       -1.0000
dwayne schintzius    0.8748
earl cureton        -1.0000
ed o'bannon          0.8350
ed pinckney          0.9076
                      ...
markieff morris      0.8964
markelle fultz       0.4696
marcus smart        -1.0000
marcus garrett       0.8964
micah potter         0.9163
Name: c_rank, Length: 12305, dtype: float64

In [ ]:
df_p.head()
df_p.index

Index(['dennis rodman', 'dwayne schintzius', 'earl cureton', 'ed o'bannon',
       'ed pinckney', 'eddie johnson', 'eddie jones', 'elden campbell',
       'eldridge recasner', 'elliot perry',
       ...
       'mason jones', 'marvin bagley iii', 'marquese chriss', 'markus howard',
       'marko simonovic', 'markieff morris', 'markelle fultz', 'marcus smart',
       'marcus garrett', 'micah potter'],
      dtype='object', name='player_name', length=12305)

In [ ]:
from sklearn.metrics.pairwise import euclidean_distances

# Data is scared differently for each entry, scale it to fit for analysis

from sklearn.preprocessing import StandardScaler

scale = StandardScaler().fit_transform(df_p)

In [ ]:
#make new df

df_p_scaled = pd.DataFrame(scale,index=df_p.index, columns=df_p.columns)

In [ ]:
df_p_scaled.head()

,age,draft_round,draft_number,gp,net_rating,c_rank
player_name,,,,,,
dennis rodman,2.056300,1.116597,0.550810,0.147818,1.448442,-1.344938
dwayne schintzius,0.211150,0.121253,0.374451,-1.446132,1.148586,0.826431
earl cureton,2.748231,2.111941,2.373187,-1.685225,0.012289,-1.344938
ed o'bannon,-0.711425,0.121253,-0.507345,0.506456,-0.508514,0.780335
ed pinckney,1.595012,0.121253,-0.448558,-0.967947,-0.705788,0.864420